{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Une petite faim ?{% endtrans %}{% endblock %}

{% block body %}

{#    {{ dump(franchiseStockData) }}#}

    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">{% trans %}Stockage{% endtrans %}</h1>
            <p class="lead">{% trans %}C'est ici que vous pouvez consulter votre stock actuel{% endtrans %}</p>
            <hr class="my-4">
            <p>{% trans %}Vous avez besoin d'un ou plusieurs produits pour réaliser l'un des éléments de votre menu{% endtrans %}</p>
            <p>{% trans %}Si l'un des produits nécessaire à la réalistion d'un menu venait à manquer, alors vous devrez passer par une autre commande,
                sans quoi, vous ne pourrez vendre le menu en question.{% endtrans %}</p>
        </div>
    </div>

    <div class="container">
        <a href="{{ path('franchise_menu', {"id" : id}) }}" class="btn btn-outline-dark">{% trans %}Retour à ma franchise{% endtrans %}</a>
    </div>


    {% if franchiseStockData is not empty %}
        <div class="container mt-4">

            <h5 class="display-5"> </h5>

            <div class="card">
                <div class="card-body">
                    <p class="lead">{% trans %}Etat actuel du camion{% endtrans %}</p>
                    <p class="">{% trans %}Espace occupé{% endtrans %} : {{ franchiseStockData.nb_products }}</p>
                    <p class="">{% trans %}Espace maximum occupable{% endtrans %} : {{ franchiseStockData.nb_max_products }}</p>
                    <p class="">{% trans %}Espace restant{% endtrans %} : {{ franchiseStockData.nb_max_products - franchiseStockData.nb_products }}</p>
                </div>
            </div>
            {% set proportion = (franchiseStockData.nb_products * 100) / franchiseStockData.nb_max_products %}

            <h5 class="display-5 mt-3">{% trans %}Occupation en %{% endtrans %}</h5>
            <div class="progress mt-3">
                <div class="progress-bar" role="progressbar" style="width: {{ proportion | round(2, 'floor') }}%;" aria-valuenow="25" aria-valuemin="0"
                     aria-valuemax="{{ franchiseStockData.nb_max_products }}">{{ proportion | round(2, 'floor') }}%
                </div>
            </div>
            <div class="lead">{{ proportion | round(2, 'floor') }}%</div>


        </div>

        <div class="container mt-5">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% trans %}Contenu de l'entrepot{% endtrans %}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% trans %}Nombre total d'ingrédients dans le camion{% endtrans %}
                    <span class="badge badge-dark badge-pill">{{ franchiseStockData.nb_ingredients }}</span>
                    <span class="badge badge-secondary">{{ franchiseStockData.nb_max_ingredients }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% trans %}Nombre total de boissons dans le camion{% endtrans %}
                    <span class="badge badge-info badge-pill">{{ franchiseStockData.nb_drinks }}</span>
                    <span class="badge badge-secondary">{{ franchiseStockData.nb_max_drinks }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% trans %}Nombre total de desserts dans le camion{% endtrans %}
                    <span class="badge badge-light badge-pill">{{ franchiseStockData.nb_desserts }}</span>
                    <span class="badge badge-secondary">{{ franchiseStockData.nb_max_desserts }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% trans %}Nombre total de repas actuels dans le camion{% endtrans %}
                    <span class="badge badge-warning badge-pill">{{ franchiseStockData.nb_meals }}</span>
                    <span class="badge badge-secondary">{{ franchiseStockData.nb_max_meals }}</span>
                </li>
            </ul>
        </div>
    {% endif %}


    <div class="container-fluid">

        {% if stock is empty %}
            <div class="container mt-5">
                <div class="alert alert-warning" role="alert">
                    {% trans %}Vous ne possédez rien en stock{% endtrans %}
                </div>
            </div>

        {% else %}

            <table class="table table-striped mt-5">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">{% trans %}Produit{% endtrans %}</th>
                    <th scope="col">{% trans %}Quantité{% endtrans %}</th>
                    <th scope="col">{% trans %}Catégorie{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in stock %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }} {{ item.product.type }}</td>
                        <td>
                            {% if item.product.subCategory.category.name == 'Ingrédients' %}
                                {% set badge = 'badge-dark' %}
                            {% elseif item.product.subCategory.category.name == 'Boissons' %}
                                {% set badge = 'badge-info' %}
                            {% elseif item.product.subCategory.category.name == 'Desserts' %}
                                {% set badge = 'badge-light' %}
                            {% elseif item.product.subCategory.category.name == 'Repas' %}
                                {% set badge = 'badge-warning' %}
                            {% endif %}
                            <span class="badge badge-pill {{ badge }}">{{ item.product.subCategory.category.name }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}


    </div>





{% endblock %}
