{% extends 'base.html.twig' %}

{% block title %}Gerer ma franchise{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">{{'Ma franchise'|trans}}</h1>
            <p class="lead">{{'C\'est ici qu\'est produit la moitié du sel français '|trans}}</p>
            <hr class="my-4">
            <p>blabla</p>
        </div>
    </div>

{#    {{ dump(franchise) }}#}
{#    {{ dump(test) }}#}

    <div class="container">

        <div class="row">


            <a href="{{ path('menu_auto_filled', {"id" : franchise.id}) }}" class="btn btn-primary col-12 my-2">Page pour accepter la création auto de menu</a>
            <a href="" class="btn btn-primary col-12 my-2">Créer un menu</a>
            <a href="" class="btn btn-primary col-12 my-2">Modifier un menu</a>
            <a href="" class="btn btn-primary col-12 my-2">Supprimer un menu</a>

        </div>

    </div>


{% endblock %}
