{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gerer ma franchise{% endblock %}

{% block body %}



    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">{% trans %}Ma Franchise !{% endtrans %}</h1>
            <p class="lead">{% trans %}Voici un menu qui concerne ce que va afficher en ligne votre activité {% endtrans %}</p>
            <hr>
            <p>{% trans %}Si vous n'avez pas encore commencé votre activité, vous devez créer un menu
                    basé sur l'ensemble des article de Driv'n Cook. Ce faisant, il vous suffit alors de
                    cliquer sur le bouton correspondant afin de créer votre menu généré de façons automatique
                    et ainsi pouvoir lancer (enfin) votre activité !{% endtrans %}</p>
            <p>{% trans %}Il est aussi possible de voir et consulter vos commandes à réaliser, ainsi que le stock de vos produits afin de les faire.{% endtrans %}</p>
        </div>
    </div>

    {#    {{ dump(franchise) }}#}
    {#    {{ dump(test) }}#}
    {#    {{ dump(menus) }}#}

    <div class="container">

        <div class="row">
            <div class="col-6">
                <a href="{{ path('menu_auto_filled', {"id" : franchise.id}) }}" class="btn btn-primary col-12 my-2">{% trans %}Mise
                    en place de mon menu et débuter mon activité{% endtrans %}</a>
            </div>
            <div class="col-6">
                <a href="{{ path('menu_reset', {'id' : franchise.id}) }}" class="btn btn-danger col-12 my-2">{% trans %}Suppression
                de mon menu et mettre fin à mon activité{% endtrans %}</a>
            </div>
            <div class="col-6">
                <a href="{{ path('franchise_stock', {"id" : franchise.id}) }}" class="btn btn-primary col-12 my-2">{% trans %}Affichage de mes stocks{% endtrans %}</a>{#TODO : Affichage de mes stocks#}
            </div>
            <div class="col-6">
                <a href="{{ path('my_orders', {'id' : franchise.id}) }}" class="btn btn-primary col-12 my-2">{% trans %}Mes prochaines commandes à réaliser{% endtrans %}</a>{#TODO : Mes prochaines commandes à réaliser#}
            </div>
        </div>

    </div>


    <div class="container-fluid">

        <table class="table table-striped mt-5">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">{% trans %}Nom du menu{% endtrans %}</th>
                <th scope="col">{% trans %}Articles associés{% endtrans %}</th>
                <th scope="col">{% trans %}Ingrédients des articles{% endtrans %}</th>
                <th scope="col">{% trans %}Image{% endtrans %}</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for menu in menus %}
                <tr>
                    <th scope="row">{{ menu.id }}</th>
                    <td>{{ menu.name }}</td>
                    <td>
                        {% for content in menu.article %}
                            {{ content }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for content in menu.article %}
                            <ul>
                                {% for recipe in content.recipes %}
                                    <li>{{ recipe }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </td>
                    <td></td>
                    <td>
                        {# TODO : Faire les opérations de suppresion et d'édition TOUT en empechant d'agir sur menu les isLocked == 1 #}
                        <a class="btn btn-primary" href="#">CRUD</a>
                        <a class="btn btn-danger" href="#">CRUD</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>


{% endblock %}
