{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -  Mes commandes à réaliser {% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">{% trans %}Mes commandes à réaliser{% endtrans %}</h1>
            <p class="lead">{% trans %}C'est ici que vous pouvez voir les commandes clients que vous avez à réaliser{% endtrans %}</p>
            <hr class="my-4">
            <p class="text-muted">{% trans %}Et aussi celles que vous avez réalisés{% endtrans %}</p>
        </div>
    </div>

    <div class="container my-4 text-center">
        <a href="{{ path('franchise_menu', {"id" : id}) }}" class="btn btn-outline-dark">Retour à Ma Franchise</a>
    </div>

    {% if userOrders is defined and userOrders is not empty %}

        <div class="container">


            <div class="jumbotron">
                <div class="text-center mb-5">
                    <h3 class="display-4">Commandes à réaliser</h3>
                    <hr>
                </div>

                {% for userOrder in userOrders %}

                    {% if userOrder.status == 1 %}
                        <div class="row">
                            <div class="col-md-10">
                                <div class="alert alert-warning" role="alert">
                                    <h4 class="alert-heading">Commande N°{{ userOrder.id }}
                                        - {{ userOrder.totalPrice | format_currency('EUR') }}</h4>
                                    <ul>
                                        {% for content in userOrder.userOrderContents %}
                                            <li>{{ content.menu.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <hr>
                                    {% if userOrder.user is defined and userOrder.user is not null %}
                                        <p class="mb-0">
                                            Pour : {{ userOrder.user.pseudo }}
                                            {% if userOrder.user.completeAddress is defined and userOrder.user.completeAddress is not empty %}
                                                à {{ userOrder.user.completeAddress }}
                                            {% endif %}
                                            le {{ userOrder.date | format_datetime('full', 'none', locale='fr') }}
                                        </p>
                                    {% else %}
                                        <p class="mb-0">
                                            Client non enregistré
                                            le {{ userOrder.date | format_datetime('full', 'none', locale='fr') }}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="text-center mt-5">
                                    <a href="#" class="btn btn-success">Valider</a>
                                </div>

                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>

            <div class="jumbotron">
                <h3>Commandes réalisés</h3>

                {% for userOrder in userOrders %}

                    {% if userOrder.status == 2 %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-success" role="alert">
                                    <h4 class="alert-heading">Commande N°{{ userOrder.id }}
                                        - {{ userOrder.totalPrice | format_currency('EUR') }}</h4>
                                    <ul>
                                        {% for content in userOrder.userOrderContents %}
                                            <li>{{ content.menu.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <hr>
                                    {% if userOrder.user is defined and userOrder.user is not null %}
                                        <p class="mb-0">
                                            Pour : {{ userOrder.user.pseudo }}
                                            {% if userOrder.user.completeAddress is defined and userOrder.user.completeAddress is not empty %}
                                                à {{ userOrder.user.completeAddress }}
                                            {% endif %}
                                            le {{ userOrder.date | format_datetime('full', 'none', locale='fr') }}
                                        </p>
                                    {% else %}
                                        <p class="mb-0">
                                            Client non enregistré
                                            le {{ userOrder.date | format_datetime('full', 'none', locale='fr') }}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>

        </div>

    {% else %}

        <div class="container">
            <div class="alert alert-dark" role="alert">
                <h4 class="alert-heading">Aucunes commandes ressensées.</h4>
                <p>Aucune commande vous concernant n'a été émise pour le moment.</p>
                <hr>
                <p class="mb-0">Vérifier que vous êtes bien en ligne et disponible sur le marché.</p>
            </div>
        </div>

    {% endif %}



{% endblock %}
