{% extends 'base.html.twig' %}
{% block title %}{{'Créer un event'|trans}}
{% endblock %}
{% block body %}
	<h1>{{'Créer un event'|trans}}</h1>
	<div class="container mt-5">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
	{{dump(form)}}

{% endblock %}