{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {% trans %}Créer un événement{% endtrans %}
{% endblock %}
{% block body %}
	<h1>{% trans %}Créer un événement{% endtrans %}</h1>
	<div class="container mt-5">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
	{{dump(form)}}

{% endblock %}