{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {% trans %}Les événements{% endtrans %}
{% endblock %}
{% block body %}

	<div class="container mt-5">

		{% if is_granted('ROLE_FRANCHISE') or is_granted('ROLE_EDITOR') %}
			
			<h2 class="text-center mt-2">{% trans %}Evénements{% endtrans %}</h2>
			
			<hr class="my-3">
			<h6 class="text-center mt-2">{% trans %}Ajouter un événement{% endtrans %}
			</h6>
			{{ form_start(form) }}
			<div class="pt-3 col-md-9 mx-auto px-auto">
				<div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
					<div class="col-md-3">
						<strong>{% trans %}Nom de l'événement{% endtrans %}</strong>
					</div>
					<div class="col-md-9">{{ form_widget(form.name) }}</div>
				</div>

				{% if form.franchise is defined %}
					<div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
						<div class="col-md-3">
							<strong>{% trans %}Franchisé(s) présent(s){% endtrans %}</strong>
						</div>
						<div class="col-md-9">{{ form_widget(form.franchise) }}</div>
					</div>
				{% endif %}

				<div class="row d-flex align-items-center mb-3 mx-auto">
					<div class="col-md-2">
						<strong>{% trans %}Début{% endtrans %}</strong>
					</div>
					<div class="col-md-4">{{ form_widget(form.dateBegin) }}</div>
					<div class="col-md-2">
						<strong>{% trans %}Fin{% endtrans %}</strong>
					</div>
					<div class="col-md-4">{{ form_widget(form.dateEnd) }}</div>
				</div>

				<div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
					<div class="col-md-2">
						<strong>{% trans %}Adresse{% endtrans %}</strong>
					</div>
					<div class="col-md-10">{{ form_widget(form.address) }}</div>
				</div>

				<div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
					<div class="col-md-2">
						<strong>{% trans %}Description{% endtrans %}</strong>
					</div>
					<div class="col-md-10">{{ form_widget(form.description) }}</div>
				</div>

				<div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
					<div class="col-md-2">
						<strong>{% trans %}Image{% endtrans %}</strong>
					</div>
					<div class="col-md-10">{{ form_widget(form.imageFile) }}</div>
				</div>

				<div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
					<div class="col-md-2">
						<strong>{% trans %}Places{% endtrans %}</strong>
					</div>
					<div class="col-md-2">{{ form_widget(form.tickets) }}</div>

					<div class="col-md-1">
						<strong>{% trans %}Prix{% endtrans %}</strong>
					</div>
					<div class="col-md-2">{{ form_widget(form.price) }}</div>

					<div class="offset-md-1 col-md-3">
						<button class="btn btn-primary" type="submit">
							{% trans %}Enregister{% endtrans %}
							<i class="far fa-paper-plane ml-2"></i>
						</button>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
			<hr class="my-5">
		{% endif %}

		{% if events is defined and events is not empty %}
			<div class="d-flex align-items-stretch">
				{% for event in events %}
					<div class="card mx-2" style="width: 18rem;">
						{% if event.imageName is defined and event.imageName is not empty %}
							<img src="{{ vich_uploader_asset(event) }}" alt="{{ event.name }}" title="{{ event.name }}" class="rounded" />
						{% else %}
							<img src="https://via.placeholder.com/150" alt="Sans-image" title="sans-image" class="rounded" />
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{ event.name }}</h5>
							<p class="card-text">{{ event.description|length > 50 ? event.description|slice(0,50) ~'..' : event.description}}</p>
							<a href="{{ path('event_show', {'id': event.id }) }}" class="btn btn-primary">{% trans %}Voir plus{% endtrans %}</a>
							{% if is_granted('ROLE_USER') %}
								<a href="{{ path('event_join', {'id': event.id }) }}" class="btn btn-primary">
									<i class="fas fa-user-plus"></i>
								</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<h2>{% trans %}Aucun événement existant{% endtrans %}</h2>
		{% endif %}
	</div>

{% endblock %}
