{% extends 'base.html.twig' %}
{% block title %}
	{{event.name ~' du '~ event.dateBegin|date('d/m/Y') }}
{% endblock %}
{% block body %}
	<div class="container mt-5">
		<section class="lp">
			<section class="lp__header">
				<h1>{{ event.name }}</h1>
				<p>{{ event.description|slice(0,30) ~'..'}}</p>
			</section>

			<section class="lp__grid">
				<div class="lp__gridItem lp__gridItem__image"></div>
				<div class="lp__gridItem lp__gridItem__text">
					{% if "now" | date('d/m/Y') > event.dateBegin | date('d/m/Y') %}
						<span class="badge badge-danger mb-3">{% trans %}Terminé{% endtrans %}</span>
					{% elseif "now"|date('d/m/Y') < event.dateBegin|date('d/m/Y') %}
						<span class="badge badge-warning mb-3">{% trans %}Bientôt{% endtrans %}</span>
					{% endif %}

					<h2 class="lp__gridItemText-lg">{{event.name ~ ' du ' ~ event.dateBegin|date('d/m/Y') }}</h2>
					<p class="lp__gridItemText-md">{{ event.description }}</p>
					<p class="lp__gridItemText-sm lp__gridItemText-sm-bw">
						<strong>{{ event.dateBegin|date("d/m/Y") }}
							-
							{{ event.dateEnd|date("d/m/Y") }}</strong>
					</p>
				</div>
			</section>

		</div>

	</div>
{% endblock %}