{% extends 'base.html.twig' %}

{% block title %}{% trans %}Paiement{% endtrans %}{% endblock %}

{% block body %}

{#        {{ form_start(customer_form) }}#}
{#            {{ form_widget(customer_form) }}#}
{#        {{ form_end(customer_form) }}#}

{#        {{ dump(customer_form) }}#}
{#        {{ dump(credit_cards) }}#}
{#        {{ dump(credit_card) }}#}
{#        {{ dump(pre_tax_price) }}#}
{#        {{ dump(tax) }}#}
{#        {{ dump(including_taxes_price) }}#}
{#        {{ dump(consignee) }}#}
{#        {{ dump(source) }}#}
{#        {{ dump(user) }}#}
{#        {{ dump(user.role.id) }}#}
{#        {{ dump(role) }}#}
{#        {{ dump(warehouse) }}#}
{#    {{ dump(selected_credit_card) }}#}



    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">{% trans %}Paiement de la commande{% endtrans %}</h1>
            <p class="lead">{% trans %}La dernière étape avant de pouvoir vous lécher les papilles !{% endtrans %}</p>
            <hr class="my-4">
            <p>{% trans %}Notre site dispose du certificat "https"{% endtrans %}<i class="mr-2 fas fa-lock"></i>. {% trans %}Ceci signifie que les échanges entre vous, et notre site sont chiffrés par des algorithmes de sécurité.{% endtrans %}</p>
            <p>{% trans %}Vous n'avez donc pas à vous inquiéter à propos de vos informations bancaires, vous pourrer aller prendre votre repas en toute sécurité.{% endtrans %}</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row profile">

            <div class="col-md-3">

                <div class="profile-usermenu">
                    <ul class="nav nav-tabs flex-column ml-4" id="myTab" role="tablist">

                        <h3 class="h3 display-5 my-3">{% trans %}Méthode de paiement{% endtrans %}:</h3>

                        {% if user is defined and user is not empty %}
                        <li class="nav-item">
                            <a class="nav-link active" href="" id="nav_profile" data-target="#pane_cb"
                               data-toggle="tab">
                                <i class="mr-2 fas fa-id-card"></i>{% trans %}Mes moyens bancaires{% endtrans %}
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if user is defined and user is empty %} active {% endif %}" href="" id="nav_edit" data-target="#pane_tmp" data-toggle="tab">
                                <i class="mr-2 fas fa-plus"></i>{% trans %}Paiement bancaire unique{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>

               <div class="profile-usermenu">

                   <ul class="nav nav-tabs list-group flex-column ml-4" id="myTab" role="tablist">

                       <h3 class="h3 display-5 my-3">{% trans %}Récapitulatif{% endtrans %}</h3>

                       <li class="list-group-item d-flex justify-content-between lh-condensed">
                           <div>
                               <h6 class="my-0">{% trans %}Prix hors taxes{% endtrans %}Prix hors taxes</h6>
                               <small class="text-muted">{% trans %}Prix but{% endtrans %}</small>
                           </div>
                           <span class="text-muted">{{ totalHT }}€</span>
                       </li>

                       <li class="list-group-item d-flex justify-content-between lh-condensed">
                           <div>
                               <h6 class="my-0">{% trans %}Taxes{% endtrans %}</h6>
                               <small class="text-muted">{% trans %}Taxe française en vigueur : 20%{% endtrans %}</small>
                           </div>
                           <span class="text-muted">{{ totalTTC - totalHT }}€</span>
                       </li>

                       <li class="list-group-item d-flex justify-content-between lh-condensed">
                           <div>
                               <h6 class="my-0">{% trans %}Prix TTC{% endtrans %}</h6>
                               <small class="text-muted">{% trans %}Toutes Taxes Comprises{% endtrans %}</small>
                           </div>
                           <span class="text-muted">{{ totalTTC }}€</span>
                       </li>

                       <li class="list-group-item d-flex justify-content-between lh-condensed">
                           <div>
                               <h6 class="my-0">{% trans %}Tota{% endtrans %}</h6>
                               <small class="text-muted">{% trans %}À payer{% endtrans %}</small>
                           </div>
                           <strong>{{ totalTTC }}€</strong>
                       </li>

                   </ul>
               </div>

            </div>


            <div class="col-md-9">
                <div class="card card-payment">
                    <div class="card-body">




                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane {% if user is defined and user is not empty %} active {% endif %}" id="pane_cb" role="tabpanel">

                                <div class="text-left">
                                    <h3 class="h3 display-5 text-center">{% trans %}Vos moyens bancaires actuellement disponibles{% endtrans %}</h3>
                                    <hr>
                                    {% if credit_cards is defined and credit_cards is not empty %}
                                        <div class="">{% trans %}Voici la liste des moyens bancaires que vous nous avez mis à disposition.{% endtrans %}</div>
                                        <div class="">{% trans %}Sélectionner une des cartes pour procéder au paiement.{% endtrans %}</div>
                                    {% else %}
                                        <div class="">{% trans %}Vous n'avez enregistré aucun moyen de paiment pour le moments. Vous pouvez soit payez avec une carte bancaire maintenant, ou en enregistrer une ou plusieurs sur votre profil.{% endtrans %}</div>
                                        <div class="text-center my-3">
                                            {% if is_granted('ROLE_USER') %}
                                                <a class="btn btn-outline-primary" href="{{ path('user_profil') }}">{% trans %}Enregistrer un moyen de paiement{% endtrans %}</a>
                                            {% elseif is_granted('ROLE_FRANCHISE') %}
                                                <a class="btn btn-outline-primary" href="#{{ path('franchise_profil') }}">{% trans %}Enregistrer un moyen de paiement{% endtrans %}</a>
                                            {% else %}
                                                <p>{% trans %}Vous n'avez pas accès à cette fonctionnalité. Pour se faire, vous devez vous inscrire{% endtrans %}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <hr>
                                </div>

                                {% if credit_cards is defined and credit_cards is not null %}
                                    {% for credit_card in credit_cards %}

                                        <div style="min-width: 500px">
                                            <div class="card-body"
                                                 style="background: #2e46cc; border-radius: 15px; color: white">

                                                <div class="row my-3">
                                                    <div class="col-4">
                                                        <img src="{{ asset('images/cb/cb.png') }}"
                                                             alt="image-cb-cb">
                                                    </div>
                                                    <div class="col-4">
                                                        <img src="{{ asset('images/cb/mastercard.png') }}"
                                                             alt="image-cb-mc">
                                                    </div>
                                                    <div class="col-4">
                                                        <img src="{{ asset('images/cb/visa.png') }}"
                                                             alt="image-cb-visa">
                                                    </div>
                                                </div>

                                                <div class="row ml-1 mb-1">
                                                    <img src="{{ asset('images/cb/chip.png') }}"
                                                         alt="image-chip">
                                                </div>

                                                {% trans %}Numéro de carte{% endtrans %} :
                                                <div style="background: rgba(24,24,25,0.74); color: #cca223; border-radius: 20px"
                                                     class="mx-auto px-3 mb-2">
                                                    {% set arrayCBN = credit_card.cardNumber | split('', 4) %}
                                                    **** - **** - **** - {{ arrayCBN[3] }}
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-6">{% trans %}Date d'expiration{% endtrans %} :
                                                        <div style="background: rgba(24,24,25,0.74); color : #cca223; border-radius: 20px"
                                                             class="mx-auto px-3">
                                                            {{ credit_card.expirationDate|date("d/m/Y") }}
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        {% trans %}Code de vérification{% endtrans %}:
                                                        <div style="background: rgba(24,24,25,0.74); color: #cca223; border-radius: 20px"
                                                             class="mx-auto px-3">
                                                            {{ credit_card.verificationCode }}
                                                        </div>
                                                    </div>
                                                </div>

                                                {% trans %}Propriétaire de la carte{% endtrans %} :
                                                <div style="color: #cca223" class="mx-auto px-3 mb-2">
                                                    {{ credit_card.name }}
                                                </div>

                                            </div>
                                        </div>

                                        <hr>

                                        <div class="text-center">
                                            <a class="btn btn-primary" href="{{ path('payment_process', {"selected_credit_card" : credit_card.id}) }}">Sélectionner</a>
                                        </div>




                                    {% endfor %}
                                {% else %}
                                    <p>{% trans %}Vous ne posséder aucun moyens de paiment.{% endtrans %} </p>
                                {% endif %}

                            </div>

                            <div class="tab-pane {% if user is defined and user is empty %} active {% endif %}" id="pane_tmp" role="tabpanel">

                                <div class="text-left">
                                    <h3 class="h3 display-5 text-center">{% trans %}Nouveau moyen bancaire{% endtrans %}</h3>
                                    <hr>
                                    {% if user is defined and user is empty %}
                                        <div class="mb-2">{% trans %}Vous n'êtes actuellement pas inscrit sur notre site. Nous n'avons par conséquence pas d'informations bancaires vous concernant.{% endtrans %}</div>
                                    {% endif %}
                                    <div class="">{% trans %}Veuillez remplir les champs ci-dessous, afin que nous puissions vérifier les informations pour procéder au paiment.{% endtrans %}</div>
                                    <hr>
                                </div>

                                <div class="container mt-5">
                                    {{ form_start(customer_form) }}
                                    {{ form_widget(customer_form) }}
                                    {{ form_end(customer_form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="container my-5">
        <div class="card text-left">
            <div class="card-header">
                <h3 class="h3 display-5 text-center">{% trans %}Récapitulatif du transit bancaire{% endtrans %}</h3>
            </div>

            <div class="card-body">
                <table class="table table-borderless my-5">
                    <tbody>
                    <tr>
                        <td>{% trans %}Source émetrice du paiement de la commande{% endtrans %} :</td>
                        <td>{{ source }}</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Destinataire du paiement de la commande{% endtrans %}</td>
                        <td>{% if consignee is defined and consignee is not null %}
                                {% if consignee.name is defined %}
                                    {{ consignee.name }} - {{ consignee.address }}
                                {% else %}
                                    Drivncook - {{ consignee.address }}
                                {% endif %}
                            {% else %}
                                <strong>{% trans %}Ceci ne devrait pas s'afficher{% endtrans %}</strong>
                            {% endif %}
                            </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="card-footer text-muted text-center">
                <a href="#" class="btn btn-outline-dark">{% trans %}Ou bien annuler la commande{% endtrans %}</a>
            </div>
        </div>
    </div>

    {% if selected_credit_card is defined and selected_credit_card is not empty%}
        <div class="container my-5">
            <div class="card text-left">
                <div class="card-header">
                    <h3 class="h3 display-5 text-center">{% trans %}Méthode de paiment sélectionné{% endtrans %}</h3>
                </div>


                <div class="my-3" style="min-width: 700px; margin-right: 600px; margin-left: 200px">
                    <div class="card-body"
                         style="background: #2e46cc; border-radius: 15px; color: white">

                        <div class="row my-3">
                            <div class="col-4">
                                <img src="{{ asset('images/cb/cb.png') }}"
                                     alt="image-cb-cb">
                            </div>
                            <div class="col-4">
                                <img src="{{ asset('images/cb/mastercard.png') }}"
                                     alt="image-cb-mc">
                            </div>
                            <div class="col-4">
                                <img src="{{ asset('images/cb/visa.png') }}"
                                     alt="image-cb-visa">
                            </div>
                        </div>

                        <div class="row ml-1 mb-1">
                            <img src="{{ asset('images/cb/chip.png') }}"
                                 alt="image-chip">
                        </div>

                        {% trans %}Numéro de carte{% endtrans %} :
                        <div style="background: rgba(24,24,25,0.74); color: #cca223; border-radius: 20px"
                             class="mx-auto px-3 mb-2">
                            {% set arrayCBN = selected_credit_card.cardNumber | split('', 4) %}
                            **** - **** - **** - {{ arrayCBN[3] }}
                        </div>

                        <div class="row mb-2">
                            <div class="col-6">  {% trans %}Date d'expiration {% endtrans %} :
                                <div style="background: rgba(24,24,25,0.74); color : #cca223; border-radius: 20px"
                                     class="mx-auto px-3">
                                    {{ selected_credit_card.expirationDate|date("d/m/Y") }}
                                </div>
                            </div>
                            <div class="col-6">
                                {% trans %}Code de vérification {% endtrans %}:
                                <div style="background: rgba(24,24,25,0.74); color: #cca223; border-radius: 20px"
                                     class="mx-auto px-3">
                                    {{ selected_credit_card.verificationCode }}
                                </div>
                            </div>
                        </div>

                         {% trans %}Propriétaire de la carte {% endtrans %} :
                        <div style="color: #cca223" class="mx-auto px-3 mb-2">
                            {{ selected_credit_card.name }}
                        </div>

                    </div>
                </div>



            </div>
        </div>

        <div class="container text-center">
            {% if app.session.get('cart_warehouse') is defined and app.session.get('cart_warehouse') is not null %}
                <a href="{{ path('franchise_cart_validate') }}" class="btn btn-success">{% trans %}CONFIRMER LE PAIEMENT {% endtrans %}</a>
            {% elseif app.session.get('cart_franchise') is defined and app.session.get('cart_franchise') is not null %}
                <a href="{{ path('user_cart_validate') }}" class="btn btn-success">{% trans %}CONFIRMER LE PAIEMENT {% endtrans %}</a>
            {% endif %}
        </div>
    {% endif %}


{% endblock %}
