{% extends 'base.html.twig' %}

{% block title %}Gestion des event{% endblock %}

{% block body %}

	<div class="container mt-5">

		<button class="btn btn-primary rounded-circlez mb-3" id="button_add_event" data-toggle="modal" data-target="#add_event">
			<span class="fa fa-plus mr-2"></span>Ajouter un event
		</button>

		<a href="{{ path('admin_show') }}" class="btn btn-outline-dark mb-3">Retour au menu administrateur</a>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">id</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Date begin</th>
					<th scope="col">Date end</th>
					<th scope="col">price</th>
					<th scope="col">Actions</th>

				</tr>
			</thead>

			<tbody>
				{% if events is defined and events is not empty %}
					{% for event in events %}
						<tr>
							<th scope="row">{{ event.id}}</th>
							<td>{{ event.name }}</td>
							<td>{{ event.description }}</td>
							<td>{{ event.dateBegin|date("d/m/Y") }}</td>
							<td>{{ event.dateEnd|date("d/m/Y")  }}</td>
							<td>{{ event.price }}</td>
							<td>
								<a class="mr-2" data-toggle="tooltip" data-placement="top" title="Modifier" href="{{ path('admin_event_edit', { 'id': event.id}) }}">
									<i class="fas fa-pen"></i>
								</a>
								<a href="#" data-href="{{ path('admin_event_delete', { 'id': event.id}) }}" class="" data-placement="bottom" title="Supprimer" data-toggle="modal" data-target="#delete_event">
									<i class="fas fa-trash-alt"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>Aucun event existant</tr>
				{% endif %}
			</tbody>
		</table>

		{#        Modal de suppression d'un event#}
		<div class="modal fade" id="delete_event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						Supprimer un event
					</div>
					<div class="modal-body">
						Êtes-vous sûr de vouloir supprimer cet event ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
						<a class="btn btn-danger btn-ok text-white">Supprimer</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="add_event" tabindex="-1" role="dialog" aria-labelledby="add_eventLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header d-flex align-items-center">
						<h4 class="modal-title mb-0" id="add_eventLabel">Ajouter un event</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								<i class="fas fa-times"></i>
							</span>
						</button>
					</div>
					<div class="modal-body bg-body">
						{{ form_start(form) }}
						{{ form_widget(form) }}
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}