{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block body %}

    {#    {{ dump(user) }}#}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container-fluid mt-5">

            <div class="row profile">

                <div class="col-md-3">
                    <div class="profile-sidebar px-1">

                        <div class="profile-userpic text-center">
                            <img src="https://via.placeholder.com/150" class="img-responsive" alt="">
                        </div>

                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                {% if user.firstName %}
                                    {{ user.firstName }} {{ user.lastName }}
                                {% else %}
                                    {{ user.email }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="profile-usermenu">
                            <ul class="nav nav-tabs flex-column ml-4" id="myTab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" href="" id="nav_profile" data-target="#pane_profile"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-id-card"></i>{% trans %}Mon profil{% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_edit" data-target="#pane_edit"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-user-edit"></i>{% trans %}Modifier mes informations{% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_user" data-target="#pane_fidelity_card"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-trophy"></i>{% trans %}Mes programmes de fidélité{% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_truck" data-target="#pane_credit_card"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-credit-card"></i>{% trans %}Mes informations bancaires{% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_orders" data-target="#pane_orders"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-cart-arrow-down"></i>{% trans %}Mes commandes{% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_orders" data-target="#pane_votes"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-star"></i>Mes commentaires
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane active" id="pane_profile" role="tabpanel">
                                    <div class="col-md-8 mx-auto mt-3">
                                        <h2 class="text-bold text-center">{% trans %}Mon profil{% endtrans %}</h2>

                                        <table class="table table-borderless my-5">
                                            <tbody>
                                            <tr>
                                                <td>{% trans %}Pseudo{% endtrans %}</td>
                                                <td>{{ user.pseudo }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans %}Prénom{% endtrans %}</td>
                                                {% if user.firstName is defined and user.firstName is not null %}
                                                    <td>{{ user.firstName }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>{% trans %}Nom{% endtrans %}</td>
                                                {% if user.lastName is defined and user.lastName is not null %}
                                                    <td>{{ user.lastName }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>{% trans %}Email{% endtrans %}</td>
                                                <td>{{ user.email }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans %}Numéro de téléphone{% endtrans %}</td>
                                                {% if user.phoneNumber is defined and user.phoneNumber is not null %}
                                                    <td>{{ user.phoneNumber }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>{% trans %}Date d'anniversaire{% endtrans %}</td>
                                                <td>{{ user.birthDate|date("d/m/Y") }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans %}Adresse{% endtrans %}</td>
                                                {% if user.completeAddress is defined and user.completeAddress is not null %}
                                                    <td>{{ user.completeAddress }}</td>
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>


                                <div class="tab-pane" id="pane_edit" role="tabpanel">
                                    <div class="col-md-8 mx-auto mt-3">
                                        <h2 class="text-bold text-center">{% trans %}Modification{% endtrans %}</h2>


                                        {% if form is defined %}

                                            {{ form_start(form) }}
                                            {{ form_widget(form) }}

                                            <div class="d-flex justify-content-between">

                                                <button class="btn btn-primary" type="submit">
                                                    {% trans %}Enregister{% endtrans %}
                                                    <i class="fas fa-save"></i>
                                                </button>
                                                {{ form_end(form) }}
                                                <a class="btn btn-primary" href="{{ path('app_password_change') }}">Modifier
                                                    le mot de passe<i class="fas fa-key ml-2"></i></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="tab-pane" id="pane_fidelity_card" role="tabpanel">
                                    <div class="col-md-8 mx-auto mt-3">
                                        <h2 class="text-bold text-center">{% trans %}Mes bonus de fidelité{% endtrans %}</h2>


                                        <div class="card-body my-5"
                                             style="border-radius: 15px; background-color: orange">
                                            <h5 class="display-5">Points formules</h5>
                                            <span>
                                                        {% if user.formulePoints == 0 %}
                                                        {% else %}
                                                            {% for i in 1.. user.formulePoints %}
                                                                <i class="ml-2 fas fa-star"></i>
                                                            {% endfor %}
                                                        {% endif %}
                                                {% set negative = 10 - user.formulePoints %}
                                                {% if user.formulePoints != 10 %}
                                                    {% for i in 1..(10 - user.formulePoints) %}
                                                        <i class="ml-2 far fa-star"></i>
                                                    {% endfor %}
                                                {% endif %}
                                            </span>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <h5 class="display-5">Points Driv'n Cook</h5>
                                                </div>
                                                <div class="col-md-2">{{ user.euroPoints }}</div>
                                            </div>
                                            <hr>
                                        </div>


                                    </div>
                                </div>

                                <div class="tab-pane" id="pane_credit_card" role="tabpanel">
                                    <div class="col-md-8 mx-auto mt-3">
                                        <h2 class="text-bold text-center">{% trans %}Mes informations bancaires{% endtrans %}</h2>

                                        <div class="container text-center">
                                            <a class="btn btn-primary" href="{{ path('credit_card_add') }}">Ajouter un
                                                moyen de
                                                paiement</a>
                                        </div>

                                        {% if credit_cards is defined and credit_cards is not null %}
                                            {% for credit_card in credit_cards %}

                                                <div style="min-width: 600px; margin-right: 600px">
                                                    <div class="card-body"
                                                         style="background: #2e46cc; border-radius: 15px; color: white">

                                                        <div class="row my-3">
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/cb/cb.png') }}"
                                                                     alt="image-cb-cb">
                                                            </div>
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/cb/mastercard.png') }}"
                                                                     alt="image-cb-mc">
                                                            </div>
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/cb/visa.png') }}"
                                                                     alt="image-cb-visa">
                                                            </div>
                                                        </div>

                                                        <div class="row ml-1 mb-1">
                                                            <img src="{{ asset('images/cb/chip.png') }}"
                                                                 alt="image-chip">
                                                        </div>

                                                        {% trans %}Numéro de carte{% endtrans %}:
                                                        <div style="background: rgba(24,24,25,0.74); color: #cca223; border-radius: 20px"
                                                             class="mx-auto px-3 mb-2">
                                                            {% set arrayCBN = credit_card.cardNumber | split('', 4) %}
                                                            **** - **** - **** - {{ arrayCBN[3] }}
                                                        </div>

                                                        <div class="row mb-2">
                                                            <div class="col-6">{% trans %}Date d'expiration{% endtrans %}
                                                                :
                                                                <div style="background: rgba(24,24,25,0.74); color : #cca223; border-radius: 20px"
                                                                     class="mx-auto px-3">
                                                                    {{ credit_card.expirationDate|date("d/m/Y") }}
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                {% trans %}Code de vérification{% endtrans %}:
                                                                <div style="background: rgba(24,24,25,0.74); color: #cca223; border-radius: 20px"
                                                                     class="mx-auto px-3">
                                                                    {{ credit_card.verificationCode }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        {% trans %}Propriétaire de la carte{% endtrans %} :
                                                        <div style="color: #cca223" class="mx-auto px-3 mb-2">
                                                            {{ credit_card.name }}
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="container text-center">
                                                    <a class="btn btn-light"
                                                       href="{{ path('credit_card_edit', {'id' : credit_card.id}) }}"> {% trans %}Modifier{% endtrans %}</a>
                                                    <a class="btn btn-dark"
                                                       href="{{ path('credit_card_delete', {'id' : credit_card.id}) }}"> {% trans %}Supprimer{% endtrans %}</a>
                                                </div>

                                                <hr>

                                            {% endfor %}
                                        {% else %}
                                            <p>{% trans %}Vous ne posséder aucun moyens de paiment.{% endtrans %}</p>
                                        {% endif %}


                                    </div>
                                </div>

                                <div class="tab-pane" id="pane_orders" role="tabpanel">
                                    <div class="col-md-8 mx-auto mt-3">
                                        <h3 class="text-bold text-center mt-3 mb-5">{% trans %}Mes commandes{% endtrans %}</h3>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="pane_last_orders">

                                                <div class="mt-4" id="accordion">
                                                    {% if orders is defined and orders is not empty %}
                                                        {% for order in orders %}
                                                            <div class="card">
                                                                <div class="card-header" id="headingOne">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link"
                                                                                data-toggle="collapse"
                                                                                data-target="#collapse{{ loop.index }}"
                                                                                aria-expanded="true"
                                                                                aria-controls="collapse{{ loop.index }}">
                                                                            {% trans %}Commande du {% endtrans %}{{ order.date|date("d/m/Y") }}
                                                                            - {{ order.totalPrice }} €
                                                                        </button>
                                                                    </h5>
                                                                </div>

                                                                <div id="collapse{{ loop.index }}" class="collapse show"
                                                                     aria-labelledby="headingOne"
                                                                     data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        {% for userOrderContent in order.userOrderContents %}
                                                                            {{ userOrderContent.menu.name }},
                                                                        {% endfor %}
                                                                        <br>
                                                                        <a class="btn btn-primary"
                                                                           href="{{ path('user_order_show', {id: order.id}) }}">
                                                                            {% trans %}Voir ma facture{% endtrans %} <i
                                                                                    class="fas fa-chevron-right ml-2"></i>
                                                                        </a>
                                                                        <a class="btn btn-success"
                                                                           href="{{ path('user_order_pdf', {id: order.id}) }}">
                                                                            {% trans %}Export PDF{% endtrans %}<i
                                                                                    class="fas fa-file-pdf ml-2"></i>
                                                                        </a>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="mt-5">
                                                            {% trans %}Vous n'avez pas encore passé de commande.{% endtrans %}
                                                            <a href="{{ path('hungry_menu') }}" class="btn btn-primary">
                                                                {% trans %}Passer commande{% endtrans %}<i
                                                                        class="fas fa-chevron-right ml-2"></i>
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane" id="pane_votes" role="tabpanel">
                                    <div class="col-md-12 mt-3">
                                        <h2 class="text-bold text-center mb-4"> {% trans %}Mes avis{% endtrans %}</h2>

                                        {% for vote in votes %}

                                            <div class="card my-5">
                                                <div class="card-header">
                                                    <h5 class="display-5">{{ vote.titleComment }}</h5>
                                                </div>
                                                <div class="card-body">
                                                    <blockquote class="blockquote mb-0">
                                                        <p>{{ vote.comment }}</p>
                                                        <small>
                                                            Note :
                                                            {% for i in 1..vote.rate %}
                                                                <i class="fas fa-star" style="color: #ffce31"></i>
                                                            {% endfor %}
                                                            {% set negative = 5 - vote.rate %}
                                                            {% if vote.rate != 5 %}
                                                                {% for i in 0..negative-1 %}
                                                                    <i class="far fa-star"
                                                                       style="color: #ffce31"></i>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </small>
                                                        <footer class="blockquote-footer mt-3"> de vous le
                                                            <cite
                                                                    title="Source Title">{{ vote.date | date('d/m/y') }}
                                                                pour {{ vote.franchise }}
                                                            </cite>
                                                        </footer>
                                                    </blockquote>
                                                </div>
                                            </div>

                                        {% endfor %}


                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    {% endif %}

{% endblock %}
