{% extends 'base.html.twig' %}

{% block title %}{{'Facture'|trans}}
{% endblock %}
{% block stylesheets %}
	{# <link rel="stylesheet" href="{{ asset('/css/pdf.css') }}"> #}
	{% for path in encore_entry_css_files('app') %}
		<link rel="stylesheet" href="{{ absolute_url(path) }}">
	{% endfor %}
{% endblock %}
{% block assets%}{% endblock %}
{% block body %}

	<body class="body_pdf">

		<h1 class="h1_pdf">{{'Facture'|trans}}</h1>

		<div class="address address-from">
			<div class="address_label">{{'De'|trans}}</div>
			<div class="address_content">
				<strong>{{ order.idWarehouse.name }}</strong><br>
				{{ order.idWarehouse.idAdresse.number }}
				{{ order.idWarehouse.idAdresse.street }}<br>
				{{ order.idWarehouse.idAdresse.idCity.name }},
				{{ order.idWarehouse.idAdresse.idCity.postalNumber }}<br>
				SIRET : 732 829 320 00074
			</div>
		</div>

		<div class="address address-to">
			<div class="address_label">{{'Pour'|trans}}</div>
			<div class="address_content">
				<strong>{{ order.franchise.firstName }}
					{{ order.franchise.lastName }}</strong><br>
				{{ order.franchise.idAdresse.number }}
				{{ order.franchise.idAdresse.street }}<br>
				{{ order.franchise.idAdresse.idCity.name }},
				{{ order.franchise.idAdresse.idCity.postalNumber }}
			</div>
		</div>

		<div class="infos">
			<div class="infos_label">{{'Facture n°'|trans}}</div>
			<div class="infos_content">
				<strong>{{ order.franchiseOrder }}</strong>
			</div>
			<div class="infos_label">{{'Emise le'|trans}}
			</div>
			<div class="infos_content">{{ order.date|date("d/m/Y")}}</div>
		</div>

		<div class="cb"></div>

		<table class="items">
			<thead>
				<tr>
					<th>Description</th>
					<th style="width: 78px;">Prix HT</th>
					<th style="width: 108px;">Prix TTC</th>
				</tr>
			</thead>
			<tbody>
				{% for product in order.idProduct %}
					<tr>
						<td>{{ product.name }}</td>
						<td>{{ product.price }}</td>
						<td>{{ product.price + product.vat }}</td>
					</tr>
				{% endfor %}

				<tr class="total total-first">
					<td colspan="2" class="total_label">{{'Sous-total'|trans}}</td>
					<td>
						<strong>
							{% set sousTotal = 0 %}
							{% for product in order.idProduct %}
								{% set sousTotal = sousTotal + product.price %}
							{% endfor %}
							{{ sousTotal }}€
						</strong>
					</td>
				</tr>
				<tr class="total">
					<td colspan="2" class="total_label">{{'Taxe'|trans}}
						(20.00%)</td>
					<td>
						<strong>
							{% set vat = 0 %}
							{% for product in order.idProduct %}
								{% set vat = vat + product.vat %}
							{% endfor %}
							{{ vat }}€
						</strong>
					</td>
				</tr>
				<tr class="total total-big">
					<td colspan="2" class="total_label">{{'Total'|trans}}</td>
					<td>
						<strong>
							{% set total = 0 %}
							{% for product in order.idProduct %}
								{% set total = total + product.price + product.vat %}
							{% endfor %}
							{{ total }}€
						</strong>
					</td>
				</tr>
			</tbody>
		</table>

		<footer class="footer_pdf">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		</footer>

	</body>

{% endblock %}