{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Profil{% endtrans %}
{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container-fluid mt-5">

            <div class="row profile">

                <div class="col-md-3">
                    <div class="profile-sidebar px-1">

                        <div class="profile-userpic text-center">
                               <img src="https://via.placeholder.com/150" alt="Sans-image" title="sans-image" width="100" height="100" class="img-thumbnail"/>
                        </div>

                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                {% if franchise.firstName %}
                                    {{ franchise.firstName }} {{ franchise.lastName }}
                                {% else %}
                                    {{ franchise.email }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="profile-usermenu">
                            <ul class="nav nav-tabs flex-column ml-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="" id="nav_profile" data-target="#pane_profile"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-id-card"></i>Mon profil
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_edit" data-target="#pane_edit"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-user-edit"></i>Modifier
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_franchise" data-target="#pane_franchise"
                                       data-toggle="tab">
                                        <i class="mr-2 far fa-file-alt"></i>Ma franchise
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_truck" data-target="#pane_truck"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-truck"></i>Mon camion
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_orders" data-target="#pane_orders"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-cart-arrow-down"></i>Mes commandes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_credit_card" data-target="#pane_credit_card"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-credit-card"></i>Mes informations bancaires
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_sales_revenue" data-target="#pane_sales_revenue"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-money-bill-alt"></i>Mes Recettes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_sales_rates" data-target="#pane_rates"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-star"></i>Mes avis
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" id="nav_notices" data-target="#pane_notices"
                                       data-toggle="tab">
                                        <i class="mr-2 fas fa-exclamation-circle"></i>Mes notifications
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane active" id="pane_profile" role="tabpanel">
                                    <div class="col-md-8 mx-auto mt-3">
                                        <h2 class="text-bold text-center">Mon profil</h2>

                                        <table class="table table-borderless my-5">
                                            <tbody>
                                            <tr>
                                                <td>Prénom</td>
                                                {% if franchise.firstName is defined and franchise.firstName is not null %}
                                                    <td>{{ franchise.firstName }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Nom</td>
                                                {% if franchise.lastName is defined and franchise.lastName is not null %}
                                                    <td>{{ franchise.lastName }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>{{ franchise.email }}</td>
                                            </tr>
                                            <tr>
                                                <td>Numéro de téléphone</td>
                                                <td>Indisponible pour le moment</td>
                                            </tr>
                                            {# <tr>
                                                <td>Date d'anniversaire </td>
                                                <td>{{ franchise.birthDate|date("d/m/Y") }}</td>
                                            </tr> #}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="tab-pane" id="pane_edit" role="tabpanel">
                                    <div class="col-md-8 mx-auto mt-3">
                                        <h3 class="text-bold mt-3 mb-5">Modifier mes informations</h3>
                                        {{ include('franchise/_form.html.twig') }}
                                    </div>
                                </div>

                                <div class="tab-pane" id="pane_franchise" role="tabpanel">

                                    <div class="text-center">
                                        <h3 class="display-3">Ma Franchise</h3>
                                    </div>

                                    <a class="btn btn-primary"
                                       href="{{ path('franchise_menu', {"id" : franchise.id}) }}">Gérer ma franchise</a>

                                </div>

                                <div class="tab-pane" id="pane_truck" role="tabpanel">
                                    <div class="col-md-6 mx-auto mt-5">
                                        <img class="img-fluid" src="{{ asset('/images/food_truck.jpg') }}" alt="">

                                        <div>

                                            {% if truck is defined and truck is not null %}

                                                <table class="table table-borderless my-5">
                                                    <tbody>
                                                    <tr>
                                                        <td>Marque</td>
                                                        <td>{{ truck.brand }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Modèle</td>
                                                        <td>{{ truck.model }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Capacités max</td>
                                                        <td>{{ truck.maxCapacity }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Date de sortie d'usine</td>
                                                        <td>{{ truck.factoryDate|date("d/m/Y") }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="d-flex justify-content-end">
                                                    <a class="btn btn-primary"
                                                       href="{{ path('show_truck', { 'id': truck.id}) }}">Voir plus<i
                                                                class="fas fa-search-plus ml-3"></i></a>
                                                </div>
                                            {% else %}

                                                <h1 class="text-center">Vous ne possédez pas de camion</h1>

                                            {% endif %}

                                        </div>
                                    </div>


                                </div>

                                <div class="tab-pane" id="pane_orders" role="tabpanel">
                                    <div class="col-md-8 mx-auto mt-3">
                                        <h3 class="text-bold text-center mt-3 mb-5">Mes commandes</h3>

                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#" id="nav_last_orders"
                                                   data-target="#pane_last_orders" data-toggle="tab">Mes dernères
                                                    commandes </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" id="nax_generic_orders"
                                                   data-target="#pane_generic_orders" data-toggle="tab">Mes commandes
                                                    types</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">

                                            <div class="tab-pane active" id="pane_last_orders">

                                                <div class="mt-4" id="accordion">
                                                    {% if orders is defined and orders is not empty %}
                                                        {% for order in orders %}

                                                            {# <a href="{{ path('franchise_order_show', {id: order.id}) }}"></a> #}

                                                            <div class="card">
                                                                <div class="card-header" id="headingOne">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link"
                                                                                data-toggle="collapse"
                                                                                data-target="#collapse{{ loop.index }}"
                                                                                aria-expanded="true"
                                                                                aria-controls="collapse{{ loop.index }}">
                                                                            Commande du {{ order.date|date("d/m/Y") }}
                                                                            - {{ order.totalPrice }} €
                                                                        </button>
                                                                        {% if order.status < 2 %}
                                                                            <a href="{{ path('franchise_fav_order', {id: order.id}) }}">
                                                                                <i class="ml-2 far fa-star"></i>
                                                                            </a>
                                                                        {% else %}
                                                                            <a href="{{ path('franchise_unfav_order', {id: order.id}) }}">
                                                                                <i class="ml-2 fas fa-star"></i>
                                                                            </a>
                                                                        {% endif %}

                                                                    </h5>
                                                                </div>

                                                                <div id="collapse{{ loop.index }}" class="collapse show"
                                                                     aria-labelledby="headingOne"
                                                                     data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        {% for franchiseOrderContent in order.franchiseOrderContents %}
                                                                            {{ franchiseOrderContent.product.name }},
                                                                        {% endfor %}
                                                                        <br>
                                                                        <a class="btn btn-primary"
                                                                           href="{{ path('franchise_order_show', {id: order.id}) }}">
                                                                            Voir ma facture <i
                                                                                    class="fas fa-chevron-right ml-2"></i>
                                                                        </a>
                                                                        <a class="btn btn-success"
                                                                           href="{{ path('franchise_order_pdf', {id: order.id}) }}">
                                                                            Export PDF <i
                                                                                    class="fas fa-file-pdf ml-2"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="mt-5">
                                                            Vous n'avez pas encore passé de commande.
                                                            <a href="{{ path('franchise_order_warehouse') }}"
                                                               class="btn btn-primary">
                                                                Passer commande<i class="fas fa-chevron-right ml-2"></i>
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="pane_generic_orders">

                                                <div class="mt-4" id="accordion">
                                                    {% if orders is defined and orders is not empty %}
                                                        {% for order in orders %}
                                                            {% if order.status > 1 %}
                                                                {# <a href=""></a> #}

                                                                <div class="card">
                                                                    <div class="card-header" id="headingOne">
                                                                        <h5 class="mb-0">
                                                                            <button class="btn btn-link"
                                                                                    data-toggle="collapse"
                                                                                    data-target="#collapse{{ loop.index }}"
                                                                                    aria-expanded="true"
                                                                                    aria-controls="collapse{{ loop.index }}">
                                                                                Commande
                                                                                du {{ order.date|date("d/m/Y") }}
                                                                                - {{ order.totalPrice }} €
                                                                            </button>

                                                                            <a href="{{ path('franchise_unfav_order', {id: order.id}) }}">
                                                                                <i class="ml-2 fas fa-star"></i>
                                                                            </a>

                                                                            <a href="{{ path('franchise_duplicate_order', {id: order.id}) }}">
                                                                                <i class="ml-2 fas fa-shopping-basket"></i>
                                                                            </a>

                                                                        </h5>
                                                                    </div>

                                                                    <div id="collapse{{ loop.index }}"
                                                                         class="collapse show"
                                                                         aria-labelledby="headingOne"
                                                                         data-parent="#accordion">
                                                                        <div class="card-body">
                                                                            {% for franchiseOrderContent in order.franchiseOrderContents %}
                                                                                {{ franchiseOrderContent.product.name }},
                                                                            {% endfor %}
                                                                            <br>
                                                                            <a class="btn btn-primary"
                                                                               href="{{ path('franchise_order_show', {id: order.id}) }}">
                                                                                Voir ma facture <i
                                                                                        class="fas fa-chevron-right ml-2"></i>
                                                                            </a>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="mt-5">
                                                            Vous n'avez pas encore de commande type.
                                                        </div>
                                                    {% endif %}
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="pane_credit_card" role="tabpanel">
                                    <div class="col-md-8 mx-auto mt-3">

                                        <h2 class="text-bold text-center mb-4">Mes informations bancaires</h2>

                                        <div class="text-center my-5">
                                            <a class="btn btn-primary" href="{{ path('credit_card_add') }}">Ajouter un
                                                moyen
                                                de paiement</a>
                                        </div>


                                        {% if credit_cards is defined and credit_cards is not null %}
                                            {% for credit_card in credit_cards %}

                                                <div style="min-width: 600px; margin-right: 600px">
                                                    <div class="card-body"
                                                         style="background: #2e46cc; border-radius: 15px; color: white">

                                                        <div class="row my-3">
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/cb/cb.png') }}"
                                                                     alt="image-cb-cb">
                                                            </div>
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/cb/mastercard.png') }}"
                                                                     alt="image-cb-mc">
                                                            </div>
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/cb/visa.png') }}"
                                                                     alt="image-cb-visa">
                                                            </div>
                                                        </div>

                                                        <div class="row ml-1 mb-1">
                                                            <img src="{{ asset('images/cb/chip.png') }}"
                                                                 alt="image-chip">
                                                        </div>

                                                        Numéro de carte :
                                                        <div style="background: rgba(24,24,25,0.74); color: #cca223; border-radius: 20px"
                                                             class="mx-auto px-3 mb-2">
                                                            {% set arrayCBN = credit_card.cardNumber | split('', 4) %}
                                                            **** - **** - **** - {{ arrayCBN[3] }}
                                                        </div>

                                                        <div class="row mb-2">
                                                            <div class="col-6">Date d'expiration :
                                                                <div style="background: rgba(24,24,25,0.74); color : #cca223; border-radius: 20px"
                                                                     class="mx-auto px-3">
                                                                    {{ credit_card.expirationDate|date("d/m/Y") }}
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                Code de vérifications:
                                                                <div style="background: rgba(24,24,25,0.74); color: #cca223; border-radius: 20px"
                                                                     class="mx-auto px-3">
                                                                    {{ credit_card.verificationCode }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        Propriétaire de la carte :
                                                        <div style="color: #cca223" class="mx-auto px-3 mb-2">
                                                            {{ credit_card.name }}
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="container text-center my-3">
                                                    <a class="btn btn-light"
                                                       href="{{ path('credit_card_edit', {'id' : credit_card.id}) }}">Modifier</a>
                                                    <a class="btn btn-dark"
                                                       href="{{ path('credit_card_delete', {'id' : credit_card.id}) }}">Supprimer</a>
                                                </div>

                                                <hr>

                                            {% endfor %}
                                        {% else %}
                                            <p>Vous ne posséder aucun moyens de paiment.</p>
                                        {% endif %}

                                    </div>
                                </div>

                                <div class="tab-pane" id="pane_sales_revenue" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h3 class="text-bold mt-3 mb-5">Mes recettes</h3>

                                            <h4>Dépenses</h4>

                                            <table class="table mt-4">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Montant</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if franchiseOrders is defined and franchiseOrders is not empty %}
                                                    {% for franchiseOrder in franchiseOrders %}

                                                        <tr>
                                                            <td>{{ franchiseOrder.date | date('j/m/y') }}</td>
                                                            <td style="color: #a21316">
                                                                - {{ franchiseOrder.totalPrice | format_currency('EUR') }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="alert alert-dark" role="alert">
                                                        Aucun approvisionnements effectués pour le moment.
                                                    </div>
                                                {% endif %}


                                                </tbody>
                                            </table>

                                            <h4>Rentrées d'argent</h4>

                                            <table class="table mt-4">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Montant brut</th>
                                                    <th scope="col">Royalties à verser</th>
                                                    <th scope="col">Montant net</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if userOrders is defined and userOrders is not empty %}
                                                    {% for userOrder in userOrders %}
                                                        <tr>
                                                            <td>{{ userOrder.date | date('j/m/y') }}</td>
                                                            <td>{{ userOrder.totalPrice  | format_currency('EUR') }}</td>
                                                            <td style="color: #a21316">
                                                                {% set royalties = userOrder.totalPrice * 0.04 %}
                                                                - {{ royalties | format_currency('EUR') }}
                                                            </td>
                                                            {% set gainReel = userOrder.totalPrice - (userOrder.totalPrice * 0.04) %}
                                                            <td style="color: #58a259">
                                                                + {{ gainReel | format_currency('EUR') }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="alert alert-dark" role="alert">
                                                        Aucune commandes effectueés pour le moment.
                                                    </div>
                                                {% endif %}


                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="col-md-5">


                                            <div class="profile-usermenu">

                                                <ul class="nav nav-tabs list-group flex-column ml-4" id="myTab"
                                                    role="tablist">

                                                    <h3 class="h3 display-5 my-3">Récap'</h3>

                                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                        <div>
                                                            <h6 class="my-0">Dépenses approvisionnements</h6>
                                                            <small class="text-muted">Commandes à Driv'n Cook</small>
                                                        </div>
                                                        <span style="color: #a21316"
                                                              class="text-muted">- {{ FranchiseMoneyData["total_franchise_orders"] | format_currency('EUR') }}</span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                        <div>
                                                            <h6 class="my-0">Redevances royalties</h6>
                                                            <small class="text-muted">4% des commandes clients</small>
                                                        </div>
                                                        <span style="color: #a21316"
                                                              class="text-muted">- {{ FranchiseMoneyData["total_royalties_given"] | format_currency('EUR') }}</span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                        <div>
                                                            <h6 class="my-0">Gain commandes clients</h6>
                                                            <small class="text-muted">Gain net</small>
                                                        </div>
                                                        <span style="color: #58a259"
                                                              class="text-muted">+ {{ FranchiseMoneyData["total_gain"] | format_currency('EUR') }}</span>
                                                    </li>

                                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                        <div>
                                                            <h6 class="my-0">TOTAL</h6>
                                                        </div>
                                                        <strong>{{ FranchiseMoneyData["total"] | format_currency('EUR') }}</strong>
                                                    </li>

                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="pane_rates" role="tabpanel">
                                    <div class="col-md-12 mt-3">
                                        <h3 class="text-bold mt-3 mb-5">Mes avis</h3>

                                        {% if rates is defined and rates is not empty %}

                                            {% for rate in rates %}

                                                <div class="card my-5">
                                                    <div class="card-header">
                                                        <h5 class="display-5">{{ rate.titleComment }}</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <blockquote class="blockquote mb-0">
                                                            <p>{{ rate.comment }}</p>
                                                            <small>
                                                                Note :
                                                                {% for i in 1..rate.rate %}
                                                                    <i class="fas fa-star" style="color: #ffce31"></i>
                                                                {% endfor %}
                                                                {% set negative = 5 - rate.rate %}
                                                                {% if rate.rate != 5 %}
                                                                    {% for i in 0..negative-1 %}
                                                                        <i class="far fa-star"
                                                                           style="color: #ffce31"></i>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </small>
                                                            <footer class="blockquote-footer mt-3">{{ rate.user }} -
                                                                <cite
                                                                        title="Source Title">{{ rate.date | date('d/m/y') }}</cite>
                                                            </footer>
                                                        </blockquote>
                                                    </div>
                                                </div>

                                            {% endfor %}

                                        {% else %}
                                            <div class="alert alert-dark" role="alert">
                                                Aucun commentaire vous concernant n'a été rédigé pour le moment.
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>

                                <div class="tab-pane" id="pane_notices" role="tabpanel">
                                    <div class="col-md-12 mt-3">
                                        <h3 class="text-bold mt-3 mb-5">Mes notifications</h3>

                                        <div class="text-center my-5">
                                            <a href="{{ path('notify_franchise-stock') }}" class="btn btn-outline-dark">Actualiser mes notifications de stockages</a>
                                            <a href="{{ path('clear_all_notices') }}" class="btn btn-outline-danger">Supprimer toutes les notifications</a>
                                        </div>

                                        {% if notices is defined and notices is not empty %}
                                            {% for notice in notices %}

                                                <div class="row">
                                                    <div class="col-md-11">
                                                        <div class="alert alert-{{ notice.bootstrapColor }}" role="alert">
                                                            <h4 class="alert-heading">{{ notice.title }}</h4>
                                                            <p>{{ notice.content }}</p>
                                                            <hr>
                                                            <small class="mb-0 text-muted">{{ notice.date | format_datetime('full', 'none', locale='fr') }}</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 text-center">
                                                        <a class="mt-5 btn btn-outline-danger" href="{{ path('clear_notice', {"id" : notice.id}) }}">X</a>
                                                    </div>
                                                </div>



                                            {% endfor %}
                                        {% else %}
                                            <div class="alert alert-dark" role="alert">
                                                <h4 class="alert-heading">Aucune notifications</h4>
                                                <p>Aucun notifications vous concernant n'a été detecté pour le moment.</p>
                                            </div>
                                        {% endif %}


                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        </div>
    {% endif %}

{% endblock %}
