{#<div class="" style="margin: 0">#}
{#    <footer class="card-footer">hello#}

{#        <div class="row">#}
{#            <div class="col-md-3 col-lg-3 style" style="background: #00bb00">truc#}
{#                <h2 class="h3 display-4">Driv'n Cook</h2>#}
{#            </div>#}
{#            <div class="col-md-5 col-lg-5 style" style="background: #F2F2F2">truc#}
{#                <h4 class="display-4">Contact</h4>#}
{#                <div>#}
{#                    <p class="lead">drivncook@gmail.com</p>#}
{#                    <hr>#}
{#                    <p class="text-muted">pierucci.romain@gmail.com</p>#}
{#                    <p class="text-muted">arhab.enzo@gmail.com</p>#}
{#                    <p class="text-muted">boudon.alex@gmail.com</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-lg-3 style" style="background: #5a7391">truc#}
{#                #}
{#            </div>#}
{#            <div class="col"></div>#}
{#        </div>#}

{#    </footer>#}
{#</div>#}
<div class="relative-container"></div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 custom-footer">

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">

		<!-- Grid row -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-6 mt-md-0 mt-3">

				<!-- Content -->
				<h5 class="text-uppercase">
					<strong>Driv'n Cook</strong>
				</h5>
				<p>Here you can use rows and columns to organize your footer content.</p>

			</div>
			<!-- Grid column -->

			<hr class="clearfix w-100 d-md-none pb-3">

			<!-- Grid column -->
			<div class="col-md-3 mb-md-0 mb-3">

				<!-- Links -->
				<h5 class="text-uppercase">Contact</h5>

				<ul class="list-unstyled">
					<li>
						<a class="link-footer" href="mailto:drivncook@gmail.com">drivncook@gmail.com</a>
						<hr>
					</li>
					<li>
						<a class="link-footer" href="mailto:pierucci.romain@gmail.com">pierucci.romain@gmail.com</a>
					</li>
					<li>
						<a class="link-footer" href="mailto:arhab.enzo@gmail.com">arhab.enzo@gmail.com</a>
					</li>
					<li>
						<a class="link-footer" href="mailto:boudon.alex@gmail.com">boudon.alex@gmail.com</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-3 mb-md-0 mb-3">

				<!-- Links -->
				<h5 class="text-uppercase">{{'Liens'|trans}}</h5>

				<ul class="list-unstyled">
					<li>
						<a class="link-footer" href="#!">{{'A propos de nous'|trans}}</a>
					</li>
					<li>
						<a class="link-footer" href="#!">{{'Politique RGPD'|trans}}</a>
					</li>
					<li>
						<a class="link-footer" href="#!">{{'Actualités'|trans}}</a>
					</li>
					<li>
						<a class="link-footer" href="#!">{{'Une petite faim ?'|trans}}</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<hr>
	<div class="footer-copyright text-center py-3">© 2020 Copyright :
		<a class="link-footer" href="https://drivncook.space">Driv'n Cook</a>
		-
		<span>All Rights reserved</span>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->