<nav class="navbar navbar-expand-lg navbar-light bg-camel">
    <a href="{{ path('home') }}" class="navbar-brand ml-4">Driv'n Cook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-4">
          <a class="nav-link" href="#">{{'Une petite faim ?'|trans}}</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#">{{'Actualités'|trans}}</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item mr-4 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mr-2 fas fa-user"></i>
              {{ app.user.email }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if is_granted('ROLE_USER') %}
                <a class="dropdown-item" href="{{ path('franchise_profil') }}">
                  <i class="mr-2 far fa-id-card"></i>
                  {{'Mon compte'|trans}}
                </a>
                <a class="dropdown-item" href="{{ path('product_index') }}">
                  <i class="mr-2 fas fa-shopping-basket"></i>
                  {{'Passer commande'|trans}}
                </a>
              {% elseif is_granted('ROLE_ADMIN') %}
                <a class="dropdown-item" href="{{ path('admin_show') }}">
                  <i class="mr-2 fas fa-user-cog"></i>
                  {{'Administration'|trans}}
                </a>
              {% endif %}
              <a class="dropdown-item" href="{{ path('app_logout') }}">
                <i class="mr-2 fas fa-sign-out-alt"></i>
                {{'Déconnexion'|trans}}
              </a>
            </div>
          </li>
          <li class="nav-item">
            {% for locale in locales %}
              {%if locale != app.request.locale %}
                <a class="nav-link" href="{{ path('change_locale', {'locale':locale}) }}">{{ locale|upper }}</a>
              {% endif %}
            {% endfor %}
          </li>
          {% else %} 
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">{{'Connexion'|trans}}</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </nav>