<nav class="navbar navbar-expand-lg navbar-light bg-camel">
	<a href="{{ path('home') }}" class="navbar-brand ml-4">
		<img class="mr-3" src="{{asset('images/logo.png')}}" width="50" height="50" alt="logo">Driv'n Cook
	</a> 
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse " id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			{% if is_granted('ROLE_USER') or (not is_granted('ROLE_ADMIN') and not is_granted('ROLE_FRANCHISE'))%}
			<li class="nav-item mr-4">
				<a class="nav-link" href="{{ path('hungry_menu') }}">{{'Une petite faim ?'|trans}}</a>
			</li>
			{% endif %}
			<li class="nav-item mr-4">
				<a class="nav-link" href="{{ path('event_index') }}">{{'Évenements'|trans}}</a>
			</li>
			<li class="nav-item mr-4">
				<a class="nav-link" href="{{ path('about') }}">{{'Qui somme nous ?'|trans}}</a>
			</li>
            <li class="nav-item mr-4">
				<a class="nav-link" href="{{ path('contact') }}">{{'Nous contacter'|trans}}</a>
			</li>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="nav-item mr-4 dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="mr-2 fas fa-user"></i>
						{{ app.user.email }}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						{% if is_granted('ROLE_FRANCHISE') %}
							<a class="dropdown-item" href="{{ path('franchise_profil') }}">
								<i class="mr-2 far fa-id-card"></i>
								{{'Mon compte'|trans}}
							</a>
							<a class="dropdown-item" href="{{ path('franchise_order_warehouse') }}">
								<i class="mr-2 fas fa-shopping-basket"></i>
								{{'Passer commande'|trans}}
							</a>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<a class="dropdown-item" href="{{ path('admin_show') }}">
								<i class="mr-2 fas fa-user-cog"></i>
								{{'Administration'|trans}}
							</a>
						{% elseif is_granted('ROLE_USER') %}
							<a class="dropdown-item" href="{{ path('user_profil') }}">
								<i class="mr-2 far fa-id-card"></i>
								{{'Profil client'|trans}}
							</a>
						{% endif %}
						{% if is_granted('ROLE_EDITOR') %}
							<a class="dropdown-item" href="{{ path('newsletter') }}">
								<i class="mr-2 fas fa-envelope-open-text"></i>
								{{'Newsletter'|trans}}
							</a>
						{% endif %}
						{% if app.session.get('cart') is not null and app.session.get('cart_warehouse') %}
							<a class="dropdown-item" href="{{ path('franchise_cart_show') }}">
								<i class="mr-2 fas fa-shopping-cart"></i>
								{{'Mon panier'|trans}}
							</a>
						{% elseif app.session.get('cart') is not null and app.session.get('cart_franchise')%}
							<a class="dropdown-item" href="{{ path('user_cart_show') }}">
								<i class="mr-2 fas fa-shopping-cart"></i>
								{{'Mon panier'|trans}}
							</a>
						{% endif %}
						<a class="dropdown-item" href="{{ path('app_logout') }}">
							<i class="mr-2 fas fa-sign-out-alt"></i>
							{{'Déconnexion'|trans}}
						</a>
					</div>
				</li>
				<li class="nav-item">
					{% for locale in locales %}
						{%if locale != app.request.locale %}
							<a class="nav-link" href="{{ path('change_locale', {'locale':locale}) }}">{{ locale|upper }}</a>
						{% endif %}
					{% endfor %}
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_login') }}">{{'Connexion'|trans}}</a>
				</li>
			{% endif %}

		</ul>
	</div>
</nav>
