{% extends 'base.html.twig' %}

{% block title %}Gestion des camions{% endblock %}

{% block body %}
    <div class="container mt-5">
        {% if reportBreakdown is defined and reportBreakdown is not null %}

            {% if reportBreakdown.status == '0' %}
                <span class="badge badge-warning mb-3">En cours</span>
            {% elseif reportBreakdown.status == '1' %}
                <span class="badge badge-success mb-3">Résolu</span>
            {% elseif reportBreakdown.status == '2' %}
                <span class="badge badge-danger mb-3">Clôturé</span>
            {% endif %}
            
            <div class="row mt-2">
                <div class="row col-md-4">
                    <div class="col">
                        <span class="font-weight-bold">Camion</span> 
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.truck }}</p>
                    </div>
                </div>
                <div class="row col-md-4 mt-2">
                    <div class="col">
                        <span class="font-weight-bold">Franchisé</span> 
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.truck.franchise }}</p>
                    </div>
                </div>
                <div class="row col-md-4">
                    <div class="col">
                        <span class="font-weight-bold">Date</span> 
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.date|date("d/m/Y")}}</p>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row col-md-7">
                    <div class="col">
                        <span class="font-weight-bold">Sujet de la panne</span> 
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.breakdown.statement }}</p>
                    </div>
                </div>
                <div class="row col-md-4">
                    <div class="col">
                        <span class="font-weight-bold">Type de panne</span> 
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.breakdown.breakdownType.name }}</p>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <span class="font-weight-bold">Description</span> 
                </div>
                <div class="col bg-white" style="height: 200px;">
                    <p>{{ reportBreakdown.description}}</p>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Téléphone</span> 
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.phoneNumber }}</p>
                    </div>
                </div>      
            </div>  

            {% if answerReportBreakdowns is defined and answerReportBreakdowns is not null %}
                {% for answerReportBreakdown in answerReportBreakdowns %}
                    <hr class="my-5">

                    <div class="">
                        <div class="row mt-2">
                            <div class="row col">
                                <div class="col">
                                    <span class="font-weight-bold">Technicien</span> 
                                </div>
                                <div class="col bg-white">
                                    <p>{{ answerReportBreakdown.user }}</p>
                                </div>
                            </div>
                            <div class="row col">
                                <div class="col">
                                    <span class="font-weight-bold">Date</span> 
                                </div>
                                <div class="col bg-white">
                                    <p>{{ answerReportBreakdown.date|date("d/m/Y")}}</p>
                                </div>
                            </div>
                        </div>    

                        <div class="row mt-4">
                            <div class="col-md-2">
                                <span class="font-weight-bold">Compte rendu</span> 
                            </div>
                            <div class="col bg-white" style="height: 200px;">
                                <p>{{ answerReportBreakdown.content}}</p> 
                            </div>
                        </div>
                    </div>   
                {% endfor %}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <hr class="my-4">

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
                
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

