{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -  {% trans %}Gestion des camions{% endtrans %}{% endblock %}

{% block body %}
    <div class="container mt-5">
        {% if reportBreakdown is defined and reportBreakdown is not null %}

            {% if is_granted('ROLE_FRANCHISE') %}
                <a href="{{ path('show_truck', { 'id': reportBreakdown.truck.id}) }}" class="btn btn-primary mr-auto">{% trans %}Retour{% endtrans %}</a>
            {% endif %}

            <div class="d-flex justify-content-end">

                {% if reportBreakdown.status == '0' %}
                    <span class="badge badge-warning mb-3">{% trans %}En cours{% endtrans %}</span>
                {% elseif reportBreakdown.status == '1' %}
                    <span class="badge badge-success mb-3">{% trans %}Résolu{% endtrans %}</span>
                {% elseif reportBreakdown.status == '2' %}
                    <span class="badge badge-danger mb-3">{% trans %}Clôturé{% endtrans %}</span>
                {% endif %}
            </div>


            <div class="row mt-2">
                <div class="row col-md-4">
                    <div class="col">
                        <span class="font-weight-bold">{% trans %}Camion{% endtrans %}</span>
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.truck }}</p>
                    </div>
                </div>
                <div class="row col-md-4 mt-2">
                    <div class="col">
                        <span class="font-weight-bold">{% trans %}Franchisé{% endtrans %}</span>
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.truck.franchise }}</p>
                    </div>
                </div>
                <div class="row col-md-4">
                    <div class="col">
                        <span class="font-weight-bold">{% trans %}Date{% endtrans %}</span>
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.date|date("d/m/Y")}}</p>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="row col-md-7">
                    <div class="col">
                        <span class="font-weight-bold">{% trans %}Sujet de la panne{% endtrans %}</span>
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.breakdown.statement }}</p>
                    </div>
                </div>
                <div class="row col-md-4">
                    <div class="col">
                        <span class="font-weight-bold">{% trans %}Type de panne{% endtrans %}</span>
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.breakdown.breakdownType.name }}</p>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <span class="font-weight-bold">Description</span>
                </div>
                <div class="col bg-white" style="height: 200px;">
                    <p>{{ reportBreakdown.description}}</p>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">{% trans %}Téléphone{% endtrans %}</span>
                    </div>
                    <div class="col bg-white">
                        <p>{{ reportBreakdown.phoneNumber }}</p>
                    </div>
                </div>
            </div>

            {% if answerReportBreakdowns is defined and answerReportBreakdowns is not null %}
                {% for answerReportBreakdown in answerReportBreakdowns %}
                    <hr class="my-5">

                    <div class="">
                        <div class="row mt-2">
                            <div class="row col">
                                <div class="col">
                                    <span class="font-weight-bold">{% trans %}Technicien{% endtrans %}</span>
                                </div>
                                <div class="col bg-white">
                                    <p>{{ answerReportBreakdown.user }}</p>
                                </div>
                            </div>
                            <div class="row col">
                                <div class="col">
                                    <span class="font-weight-bold">{% trans %}Date{% endtrans %}</span>
                                </div>
                                <div class="col bg-white">
                                    <p>{{ answerReportBreakdown.date|date("d/m/Y")}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-2">
                                <span class="font-weight-bold">{% trans %}Compte rendu{% endtrans %}</span>
                            </div>
                            <div class="col bg-white" style="height: 200px;">
                                <p>{{ answerReportBreakdown.content}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <hr class="my-4">

                <div class="col-md-10 mx-auto">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <div class="d-flex justify-content-between">

                            <a href="{{ path('admin_reportBreakdown_show') }}" class="btn btn-primary mr-auto">{% trans %}Retour{% endtrans %}</a>

                            <button class="btn btn-primary" type="submit" >
                                {% trans %}Enregister{% endtrans %}
                                <i class="fas fa-save ml-2"></i>
                            </button>
                        </div>


                    {{ form_end(form) }}
                </div>


            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
