{% extends 'base.html.twig' %}

{% block title %}{% trans %}Gestion des camions{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5">

        <div class="d-flex mt-4 justify-content-start">
            <a href="{{ path('show_truck', { 'id': truck.id}) }}" class="btn btn-primary">{% trans %}Retour{% endtrans %}</a>
        </div>

        <div class="mt-5">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
