{% extends 'base.html.twig' %}
{% block title %}{{'Noter une commande'|trans}}
{% endblock %}
{% block body %}
	<div class="container mt-5">

		<h2 class="text-center mt-2">{{ 'Ajouter un avis'|trans }} </h2>
		<hr class="my-3">

        {{ form_start(form) }}
            <div class="pt-3 col-md-9 mx-auto px-auto">
                <div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
                    <div class="col-md-3"><strong>Titre du commentaire</strong></div>
                    <div class="col-md-9">{{ form_widget(form.titleComment) }}</div>
                </div>

                <div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
                    <div class="col-md-2"><strong>Note / 5</strong></div>
                    <div class="col-md-10">{{ form_widget(form.rate) }}</div>
                </div>

                <div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
                    <div class="col-md-2"><strong>Commentaire</strong></div>
                    <div class="col-md-10">{{ form_widget(form.comment) }}</div>
                </div>

                <div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
                    <div class="offset-md-3 col-md-3">
                        <button class="btn btn-primary" type="submit">
                            Enregistrer<i class="far fa-paper-plane ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
	</div>
{% endblock %}