{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{'Noter une commande'|trans}}
{% endblock %}
{% block body %}
	<div class="container mt-5">

		<h2 class="text-center mt-2">{{ 'Ajouter un avis'|trans }} </h2>
		<hr class="my-3">

        {{ form_start(form) }}
            <div class="pt-3 col-md-9 mx-auto px-auto">
                <div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
                    <div class="col-md-3"><strong>{% trans %}Titre du commentaire{% endtrans %}</strong></div>
                    <div class="col-md-9">{{ form_widget(form.titleComment) }}</div>
                </div>

                <div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
                    <div class="col-md-2"><strong>{% trans %}note /5{% endtrans %}</strong></div>
                    <div class="col-md-10">{{ form_widget(form.rate) }}</div>
                </div>

                <div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
                    <div class="col-md-2"><strong>{% trans %}Commentaire{% endtrans %}</strong></div>
                    <div class="col-md-10">{{ form_widget(form.comment) }}</div>
                </div>

                <div class="row d-flex align-items-center align-self-center mb-3 mx-auto">
                    <div class="offset-md-3 col-md-3">
                        <button class="btn btn-primary" type="submit">
                            {% trans %}Enregister{% endtrans %}<i class="far fa-paper-plane ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
	</div>
{% endblock %}
