{% extends 'base.html.twig' %}

{% block title %}{% trans %}Commande{% endtrans %}
{% endblock %}

{% block body %}

	<div class="container mt-5 bg-white">

        <div class="py-3">
            <h4 class="text-center pt-3">
                {% trans %}entrepôt {% endtrans %} : {{ warehouse.name }}
            </h4>
        </div>
        <div class="p-4 mb-4 ">
            {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}

                <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
                    <span class="sr-only">Loading...</span>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        {{ form_row(form.q) }}
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary w-100">{% trans %}Filtrer {% endtrans %} </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4>{% trans %}Sous-catégories {% endtrans %} </h4>
                        {{ form_row(form.subCategories) }}
                    </div>

                    <div class="col">
                        <h4>{% trans %}Prix {% endtrans %} </h4>
                        <div class="col-md-6">
                            {{ form_row(form.max) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.min) }}
                        </div>
                        {# <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}" style="margin-bottom: 3rem;"></div> #}
                    </div>

                    {# <div class="col">
                        <h4>Promotions</h4>
                        {{ form_row(form.promo) }}
                    </div> #}
                </div>
            {{ form_end(form) }}

            <hr>

        </div>

        <div class="tab-content my-3">
            {#}
            <div class="d-flex justify-content-end">
                {{ knp_pagination_sortable(products, 'Prix', 'p.price ') }}
            </div>
            #}
            <div class="row d-flex align-items-stretch">
                {% for product in products %}
                    <div class="col-3 mt-4">
                        <span class="mx-auto badge badge-danger d-none" id="span{{product.id}}"></span>
                        <div class="border border-dark rounded p-2 clearfix">
                            <h3 class="text-center">
                                {{ product.name }}
                            </h3>
                            <div class="text-center">
                                {% if product.imageName is defined and product.imageName is not empty %}
                                <img src="{{ vich_uploader_asset(product) }}" alt="{{ product.name }}" title="{{ product.name }}" width="100" height="100" />
                                {% else %}
                                    <img src="https://via.placeholder.com/100" alt="Sans-image" title="sans-image" width="100" height="100" />
                                {% endif %}
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="ml-2">
                                    {% set ttc = product.price + product.vat %}
                                    {{ ttc | format_currency('EUR') }}
                                </h5>

                                <div>
                                    <input type='button' name="btnMinus" data-id="{{ product.id }}" value='-' class='qtyminus' field='quantity' id="btnMinus{{product.id}}"/>
                                    {% for warehouseStock in product.warehouseStocks %}
                                        {% if warehouseStock.warehouse.id == warehouse.id %}
                                            <input type='text' name='quantity' value='1' class='qty' id="cifri{{product.id}}" data-max="{{ warehouseStock.quantity }}" /> {{ product.type }}
                                        {% endif %}
                                    {% endfor %}
                                    <input type='button' name="btnPlus" data-id="{{ product.id }}" value='+' class='qtyplus' field='quantity' id="btnPlus{{product.id}}"/>
                                </div>
                                <a {# href=" {{ path('franchise_cart_add', {id: product.id}) }}"#} name="purchaseButton" data-id="{{ product.id }}" class="btn btn-success float-right">
                                    <i class="fas fa-shopping-cart mr-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="navigation mt-2 py-4">
                {{ knp_pagination_render(products) }}
            </div>
            <a class="btn btn-primary position-fixed " href="{{ path('franchise_cart_show') }}" style="bottom: 7.5vh; right: 5vh;">
                {% trans %}Voir mon panier{% endtrans %}<i class="fas fa-chevron-right ml-2"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ parent() }}

<script>
    const plus = document.getElementsByName('btnPlus');
    const minus = document.getElementsByName('btnMinus');
    const purchase = document.getElementsByName('purchaseButton');

    if (plus){
        for (let btnPlus of plus){
            btnPlus.addEventListener ('click', e => {
            if (e.target.className == 'qtyplus') {
                var id = e.target.getAttribute('data-id');
                var currentValue=document.getElementById("cifri" + id).value;
                var intCurrentValue=parseInt(currentValue);
                intCurrentValue=intCurrentValue+1;
                document.getElementById("cifri" + id).value=intCurrentValue;
                checkQuantity(id);
            }
        });
        }
    }

    if (minus){
        for (let btnMinus of minus){
            btnMinus.addEventListener ('click', e => {
            if (e.target.className == 'qtyminus') {
                var id = e.target.getAttribute('data-id');
                var currentValue=document.getElementById("cifri" + id).value;
                var intCurrentValue=parseInt(currentValue);
                intCurrentValue=intCurrentValue-1;
                if(intCurrentValue<0){intCurrentValue=0;}
                document.getElementById("cifri" + id).value=intCurrentValue;
                checkQuantity(id);
            }
        });
        }
    }

    if (purchase){
        for (let btn of purchase){
            btn.addEventListener ('click', e => {
                if (e.target.className == 'btn btn-success float-right') {
                    var id = e.target.getAttribute('data-id');
                    var qty = document.getElementById("cifri" + id).value;
                    console.log('id' + id);
                    console.log('qty ' + qty);
                    fetch(`/franchise/commande/panier/add/${id}/${qty}`, {
                    method: 'POST'
                    }).then(res => window.location.reload()); // On renvoit sur la page active
                }
            });
        }
    }

    function checkQuantity(id){
        var qty = document.getElementById("cifri" + id).value;
        var maxQty = document.getElementById("cifri" + id).getAttribute('data-max');
        var span = document.getElementById("span" + id);

        if (maxQty == '0'){
            span.innerText = "Produit indisponible";
            span.className = 'badge badge-danger';
        } else if (qty > Number(maxQty) ){
            span.innerText = "Quantité disponible : "+maxQty;
            span.className = 'badge badge-danger';
        } else {
            span.className = 'badge badge-danger d-none';
        }
    }

</script>

{% endblock %}
