{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Une petite faim ?{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">{% trans %}On se commande quelque chose ?{% endtrans %}</h1>
            <p class="lead">{% trans %}C'est ici que vous pouvez choisir chez qui vous aller manger{% endtrans %}</p>
            <hr class="my-4">
            <p>{% trans %}Nous sommes maintenant placés un peu partout en France,
                ainsi, peut importe l'endroit ou vous vous trouvez : Vous trouverez forcément un camion près de chez vous !{% endtrans %}</p>
            <p>{% trans %}De plus, chez drivn'Cook, nous réconpensons la créativité des franchisés, c'est pour cela que chaque camion est unique
            en son genre et possède ainsi sa propre ambiance et atmosphère pour que vous vous sentez le mieux possible
            et le plus à l'aise également.{% endtrans %}</p>
        </div>
    </div>

{#    {{ dump(franchises) }}#}

    <div class="container-fluid">


        <div class="row row-cols-1 row-cols-md-2">

            {% if franchises is empty %}
                <div class="container">
                    <div class="alert alert-warning" role="alert">
                       {% trans %}Aucun franchisés n'est disponible pour le moment. Veuillez repasser plus tard désolé.{% endtrans %}
                    </div>
                </div>

            {% endif %}

            {% for franchise in franchises %}

            <div class="col mb-4">
                <div class="card">
                    {% set franchiseCoverPath = "images/franchise-cover/franchise-cover"~loop.index~".jpg" %}
{#                    {{ dump(franchiseCoverPath) }}#}
                    <img src="{{ asset(franchiseCoverPath) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="display-5 text-center">{{ franchise.firstName }} {{ franchise.firstName }}</h3>
                        <hr>
                        <h5 class="card-title">{% trans %}Contact{% endtrans %}</h5>
                        <p>{% trans %}Email{% endtrans %}:  {{ franchise.email }}</p>
                        <p>{% trans %}Téléphone{% endtrans %}:  {{ franchise.phoneNumber }}</p>
                        <p class="text-muted">{% trans %}Adresse{% endtrans %}: {{ franchise.address }}</p>
                    </div>
                    <a href="{{ path('menu_showcase', {'id' : franchise.id }) }}" class="btn btn-outline-dark">{% trans %}Voir menu{% endtrans %}</a>
                </div>
            </div>

            {% endfor %}


        </div>


    </div>

{% endblock %}
