{% extends 'base.html.twig' %}

{% block title %}{{'Facture'|trans}}
{% endblock %}
{% block stylesheets %}
	{% for path in encore_entry_css_files('app') %}
		<link rel="stylesheet" href="{{ absolute_url(path) }}">
	{% endfor %}
{% endblock %}
{% block assets%}{% endblock %}
{% block body %}

	<body class="body_pdf">

		<h1 class="h1_pdf">{{'Facture'|trans}}</h1>

        <div class="address address-from">
            <div class="address_label">{% trans %}De{% endtrans %}</div>
            <div class="address_content">
                <strong>{{ order.franchise.firstName }} {{ order.franchise.lastName }}</strong><br>
                {{ order.franchise.address.number }} {{ order.franchise.address.street }}<br>
                {{ order.franchise.address.city.name }}, {{ order.franchise.address.city.postalCode }}
            </div>
        </div>

        <div class="address address-to">
            <div class="address_label">{% trans %}Pour{% endtrans %}</div>
            <div class="address_content">
                <strong>{{ order.user.firstName }} {{ order.user.lastName }}</strong><br>
                {{ order.completeAddress }}<br>
            </div>
        </div>

        <div class="infos">
            <div class="infos_label">Facture n°</div>
            <div class="infos_content"><strong>{{ order.id }}</strong></div>
            <div class="infos_label">{% trans %}Emise le{% endtrans %} </div>
            <div class="infos_content">{{ order.date|date("d/m/Y")}}</div>
        </div>

		<div class="cb"></div>

        <table class="items">
            <thead>
            <tr>
                <th>Description</th>
                <th style="width: 78px;">Quantité</th>
                <th style="width: 78px;">Prix HT</th>
                <th style="width: 108px;">Prix TTC</th>
            </tr>
            </thead>
            <tbody>

            {% for userOrderContent in order.userOrderContents %}
                {% if userOrderContent.isPromo != true %}
                    <tr>
                        <td>{{ userOrderContent.menu.name }}</td>
                        <td>{{ userOrderContent.quantity }}</td>
                        <td>{{ userOrderContent.menu.price }}</td>
                        <td>{{ userOrderContent.menu.price + userOrderContent.menu.vat }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ userOrderContent.menu.name }}</td>
                        <td>{{ userOrderContent.quantity }}</td>
                        <td></td>
                        <td>{{ userOrderContent.menu.euroPointsGap }} points</td>
                    </tr>
                {% endif %}
            {% endfor %}

            <tr class="total total-first">
                <td colspan="2" class="total_label">{% trans %}Sous-total{% endtrans %}</td>
                <td><strong>
                    {% set sousTotal = 0 %}
                    {% for userOrderContent in order.userOrderContents %}
                        {% set sousTotal = sousTotal + userOrderContent.menu.price * userOrderContent.quantity %}
                    {% endfor %}
                    {{ sousTotal }}€
                </strong></td>
            </tr>
            <tr class="total">
                <td colspan="2" class="total_label">{% trans %}Taxe (20.00%){% endtrans %}</td>
                <td><strong>
                    {% set vat = 0 %}
                    {% for userOrderContent in order.userOrderContents %}
                        {% set vat = vat + userOrderContent.menu.vat * userOrderContent.quantity %}
                    {% endfor %}
                    {{ vat }}€
                </strong></td>
            </tr>
            <tr class="total total-big">
                <td colspan="2" class="total_label">{% trans %}Total{% endtrans %}</td>
                <td><strong>
                    {{ order.totalPrice}}€
                </strong></td>
            </tr>
            </tbody>
        </table>
	</body>

{% endblock %}

{% block footer %}
{% endblock %}
